@model MusicLib.Models.AlbumArtistViewModel
@using MusicLib.Helpers

<h1>Albums</h1>

@if (this.User.IsInRole("Admin")){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-controller="Albums" asp-action="Index" method="get">
    <p>
        Artist:
        <select asp-for="albumArtist" asp-items="Model.Artists">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Albums[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albums[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albums[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albums[0].Rating)
            </th>
            @if (this.User.IsInRole("Admin")){
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Albums) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @for(int i=0;i<item.Rating;i++){
                    @:&#11088;
                }
            </td>
            @if (this.User.IsInRole("Admin")){
                @CustomHelpers.ControlGroup("Albums", @item.AlbumId)
            }
        </tr>
}
    </tbody>
</table>
